<div class="wrapper">

  <%= render partial: "shared/nursery_menu.erb" %>

  <div class="child_class_lists">
    <ul>
    <% @child_classes.each do |child_class| %>
      <li>
        <div class="child_class_list_left"><%= child_class.class_age %>児クラス</div>
        <div class="child_class_list_right"><%= child_class.class_name %>組さん</div>
        <%= link_to "変更","#", class: "btn_edit" %>
        <%= link_to "削除", "#", method: :delete, class: "btn_delete" %>
      </li>
    <% end %>
    <br/>
    <%= link_to 'クラスを新しく登録する', new_child_class_path %>
    </ul>
  </div>
</div>