<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">

  <h2>身体測定データの取込</h2>

  <%= link_to "身体測定データ取込用ファイルの出力",export_growths_path(format: :csv) %>


    <%= form_tag import_growths_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "インポート" %>
    <% end %>


  <h2>今月の身体測定データ</h2>
  <ul class="kid_lists">

    <% @kids.each do |kid| %>
    <%= render partial: "shared/kid_show.erb",locals: {kid: kid}  %>

    <%= render partial: "shared/growth_show.erb",locals: {growths: @growths.find_all { |growth| kid.id == growth.kid_id }} %>


    <% end %>

  </ul>
</div>