<%= render partial: "shared/nursery_menu.erb" %>

<div class="wrapper">

  <h2>身体測定データの取込</h2>

  <%= link_to "身体測定データ取込用ファイルの出力",export_growths_path(format: :csv) %>


    <%= form_tag import_growths_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "インポート" %>
    <% end %>


  <h2>今月の身体測定データ</h2>
  <ul class="kid_lists">
    <%# 項目表示 %>
    <li class="kid_list">
      <div class="kid_list_top">
          <div class="kid_list_class">
            クラス名
          </div>


          <div class="kid_list_name">
            名前
          </div>
      </div>

      <div class="kid_list_bottom">
          <div class="kid_list_birthday">
            誕生日
          </div>
          <div class="kid_list_age_in_month">
            月齢
          </div>

          <div class="kid_list_user">
            保護者名
          </div>

        </div>
        </li>

<% @kids.each do |kid| %>
<%= render partial: "shared/kid_show.erb",locals: {kid: kid}  %>

<%= render partial: "shared/growth_show.erb",locals: {growths: @growths.find_all { |growth| kid.id == growth.kid_id }} %>


<% end %>

</ul>





</div>