<div class="wrapper_sign_up">

<%= form_with model: @user, url: registration_path(resource_name), id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <h2>メールアドレスで新規登録</h2>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "tsumiki-note@tsumiki.com", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :name, "フルネーム" %><br />
    <%= f.text_field :name,autocomplete: "full-name", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :authority_id, "申請する権限" %><br />
    <%= f.collection_select(:authority_id, Authority.all, :id, :name, {}, {class:"select-box"}) %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br />
    <%= f.text_field :postal_code, id: "postal_code", class: "input_field" %>
      <div class>
        <input type="button" value="住所検索" id=search_btn class="search_btn">
      </div>
  </div>

  <div class="field">
    <%= f.label :pref, "都道府県" %><br />
    <%= f.text_field :pref,id: "pref", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :city, "市町村" %><br />
    <%= f.text_field :city,id: "city", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :town, "町域" %><br />
    <%= f.text_field :town, id: "town", class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :building, "建物" %><br />
    <%= f.text_field :building, class: "input_field" %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %><br />
    <%= f.text_field :phone_number, class: "input_field" %>
  </div>

  <div class="form-bottom-text">
    <%= f.submit "新規登録",class:"submit_btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>