  <div class="growth_lists">

      <div class="growth_field">
        名前を確認してください<br/>
        <%= @kid.name %>
      </div>

    <%= form_with(model: @growth, local: true, class:'new_growth' ) do |f| %>

      <div class="growth_field">
        <%= f.label(:month, "測定月：") %>
        <%= f.text_field :month ,placeholder: "yyyymm" %>
      </div>

      <div class="growth_field">
        <%= f.label(:inspection_date, "測定日：") %>
        <%= f.date_field :inspection_date %>
      </div>

      <div class="growth_field">
        <%= f.label(:weight, "体重：") %>
        <%= f.text_field :weight %> kg
      </div>

      <div class="growth_field">
        <%= f.label(:height, "身長：") %>
        <%= f.text_field :height %> cm
      </div>

      <div class="growth_field">
        <%= f.submit "登録する" , class:"btn" %>
      </div>

    <% end %>
  </div>
  <div class="back_link">
    <%= link_to '戻る', grades_path, class:"back-btn"  %>
  </div>