<header class='top-page-header'>
  <div class='logo-contents'>
    <%= link_to image_tag("logo.png", class:"icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <%= link_to(root_path, class: "menu-list") do %>
        <li class='list-right'>おたより</li>
        <% end %>

        <%= link_to(user_path(id: current_user.id), class: "menu-list") do %>
        <li class='list-right'>成長記録</li>
        <% end %>

        <%= link_to(user_path(id: current_user.id), class: "user-name") do %>
        <li class='list-right'><%= current_user.name %></li>
        <% end %>

        <%= link_to(destroy_user_session_path, method: :delete, class: "logout") do %>
        <li class='list-right'>ログアウト</li>
        <% end %>

      <% else %>
      
        <%= link_to(new_user_session_path, class: "login") do %>
        <li class='list-right'>ログイン</li>
        <% end %>

        <%= link_to(new_user_registration_path, class: "sign-up") do %>
        <li class='list-right'>新規登録</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</header>