<header class='top-page-header'>
  <div class='logo-contents'>
    <%= link_to image_tag("logo.png", class:"icon"), "/" %>
  </div>
  <div class='nav'>
  <% if user_signed_in? %>
    <%= link_to(root_path, class: "nav-menu") do %>
    おたより
    <% end %>

    <%= link_to(user_path(id: current_user.id), class: "nav-menu") do %>
    成長記録
    <% end %>

    <%= link_to(user_path(id: current_user.id), class: "user-name") do %>
    <%= current_user.name %>
    <% end %>

    <%= link_to(destroy_user_session_path, method: :delete, class: "logout") do %>
    ログアウト
    <% end %>

  <% else %>
  
    <%= link_to(new_user_session_path, class: "login") do %>
    ログイン
    <% end %>

    <%= link_to(new_user_registration_path, class: "sign-up") do %>
    新規登録
    <% end %>
  <% end %>
  </div>
</header>