  <div class="kid_lists">

    <%= form_with(model: @kid, local: true, class:'new_kid' ) do |f| %>

      <div class="kid_field">
        <%= f.label(:name, "名前") %><br/>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="kid-date-field">
         <label class="form-text">生年月日</label>
         <%= raw sprintf(
                     f.date_select(
                       :birth_date,
                       class:'select-birth',
                       id:"birth-date",
                       use_month_numbers: true,
                       prompt:'--',
                       start_year: (Time.now.year - 10),
                       end_year: (Time.now.year ),
                       date_separator: '%s'),
                     "<p class:'date-field'> 年 </p>", "<p class:'date-field'> 月 </p>") + "<p class:'date-field'> 日 </p>" %>
      </div>

      <div class="kid_field">
        <%= f.label(:start_month, "入園月を入力して下さい。") %><br />
        <%= f.text_field :start_month ,placeholder: "yyyy年mm月" %>
      </div>

      <% if params[:action]=="edit" %>

      <div class="kid_field">
        <%= f.label(:end_month, "退園月を入力してください") %><br/>
        <%= f.text_field :end_month ,placeholder: "yyyy年mm月" %>
      </div>

      <% end %>

      <div class="kid_field">
        <%= f.label(:gender_id, "性別") %>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender-category"}) %>
      </div>

      <div class="kid_field">
        <%= f.label(:grade_id, "クラス") %>
        <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select-box", id:"choice_class"}) %>
      </div>

      <div class="kid_field">
        <%= f.label :user_id %>
        <%= f.collection_select(:user_id, User.all, :id, :name, {},{class:"select-box", id:"choice_user"}) %>
      </div>

      <div class="kid_field">
        <%= f.submit "登録する" , class:"btn" %>
      </div>

    <% end %>
  </div>
  <div class="back_link">
    <%= link_to '戻る', kids_path, class:"back-btn"  %>
  </div>