  <div class="kid_lists">

    <%= form_with(model: @kid, local: true, class:'new_kid' ) do |f| %>

      <div class="kid_field">
        名前を入力してください
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="kid_field">
         <label class="form-text">生年月日</label>
         <%= raw sprintf(
                     f.date_select(
                       :birth_date,
                       class:'select-birth',
                       id:"birth-date",
                       use_month_numbers: true,
                       prompt:'--',
                       start_year: (Time.now.year - 10),
                       end_year: (Time.now.year ),
                       date_separator: '%s'),
                     "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>

      <div class="kid_field">
        入園月を入力して下さい。yyyy年mm月→ yyyymm<br/>
        <%= f.label :start_month %>
        <%= f.text_field :start_month ,placeholder: "yyyymm" %>
      </div>

      <% if params[:action]=="edit" %>

      <div class="kid_field">
        退園月を入力して下さい。yyyy年mm月→ yyyymm<br/>
        <%= f.label :end_month %>
        <%= f.text_field :end_month ,placeholder: "yyyymm" %>
      </div>

      <% end %>

      <div class="kid_field">
        性別を選んで下さい<br/>
        <%= f.label :gender_id %>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"gender-category"}) %>
      </div>

      <div class="kid_field">
        クラスを選んで下さい
        <%= f.label(:grade_id, "クラスを選んで下さい") %>
        <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {class:"select-box", id:"choice_class"}) %>
      </div>

      <div class="kid_field">
        <%= f.label :user_id %>
        <%= f.collection_select(:user_id, User.all, :id, :name, {},{class:"select-box", id:"choice_user"}) %>
      </div>

      <div class="kid_field">
        <%= f.submit "登録する" , class:"btn" %>
      </div>

    <% end %>
  </div>
  <div class="back_link">
    <%= link_to '戻る', grades_path, class:"back-btn"  %>
  </div>