    <li class="kid_list">

      <div class="kid_list_top">

        <% if current_user.authority_id == 3%>
          <%= link_to "変更", edit_kid_path(kid.id), class: "btn_edit" %></ br>
        <% end %>


        <div class="kid_list_class">
        クラス：　<%= kid.grade.name %>組さん
        (<%= kid.grade.age %>歳児クラス)
        </div>

        <%= link_to(kid_path(kid.id)) do %>
        <div class="kid_list_name">
        名　前：　<%= kid.name %>
        </div>
        <%end%>

      </div>

      <div class="kid_list_bottom">

        <div class="kid_list_birthday">
        誕生日：　<%= kid.birth_date %>
        </div>

        <div class="kid_list_age_in_month">
        <% cal_age_in_month(kid) %>
        月　齢：　<%= "#{age}歳#{age_in_month}か月" %>
        </div>

        <div class="kid_list_user">
        保護者：　<%= kid.user.name %>
        </div>

        <div class="kid_list_start_month">
        入園月：　<%= kid.start_month %>
        <% if kid.end_month.present? %>
        </ br>退園月：　<%= kid.end_month %>
        <% end %>

      </div>
