<div class="wrapper">

  <%= render partial: "shared/nursery_menu.erb" %>
  
  <div class="important_letters">
  <%# 重要なお知らせがある時表示 %>
  <% if @important_letters.present? %>
    <lu class="letters_list">
      <% @important_letters.each do |letter| %>

      <%= render partial: "shared/letter_show", locals: { letter: letter } %>

      <% end %>
    </lu>
    <%= link_to "すべての重要なお知らせを表示する。", letter_path(@important_letters[0][:genre_id]), class: "link" %>

  <% else %>
    重要なお知らせは投稿されていません
  <% end %>
  </div>

  <div class="monthly">
    <div class="month_letters">
    <%# 毎月のおたよりがあると表示 %>
    <% if @monthly_letters.present? %>
      <lu class="letters_list">

      <% @monthly_letters.each do |letter| %>

      <%= render partial: "shared/letter_show", locals: { letter: letter } %>

      <% end %>

      </lu>
    <%= link_to "毎月のおたよりを表示する。", letter_path(@monthly_letters[0][:genre_id]), class: "link" %>

    <% else %>
      毎月のおたよりは投稿されていません
    <% end %>
    </div>

    <div class="month_letters">
    <%# 献立表があると表示 %>
    <% if @menu_letters.present?%>
      <lu class="letters_list">

      <% @menu_letters.each do |letter| %>

      <%= render partial: "shared/letter_show", locals: { letter: letter } %>

      <% end %>

      </lu>
    <%= link_to "すべての献立表を表示する。", letter_path(@menu_letters[0][:genre_id]), class: "link" %>
    <% else %>
      毎月のおたよりは投稿されていません
    <% end %>

    </div>
  </div>
</div>

