<!DOCTYPE html>
<html>
  <head>
    <title>TsumikiNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"> </script>
  </head>

  <body>
    <%= render "shared/header"%>

    <div class="wrapper_back">
      <%= yield %>
    </div>

    <%= render "shared/footer"%>
  </body>
</html>
